@font-face { 
    font-family: 'proximanova'; 
    src: url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.eot'),
        url('../fonts/ProximaNova-Regular.svg') format('svg');
    font-weight: normal; 
    font-style: normal; 
  }
body {
    margin: 0;
    padding: 0;
    font-family: 'proximanova';
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6, ul, li, p {
    padding: 0;
    margin: 0;
}
header {
    width: 100%;
    max-height: 86px;
    background: rgba(0, 0, 0, 0.64);
    position: relative;
}
.container  {
    max-width: 1170px;
    min-width: 1170px;
    margin: 0 auto;
}
.main-header {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    margin: 0px;
    height: 100%;
    /*margin-right: 150px;*/
}
.menu__item {
    margin-left: 30px;
    font-size: 16px;
    text-transform: uppercase;
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    transition: all .5s ease;
}
.menu__item:hover {
    background: #870b06;
}
.menu__item a {
    text-decoration: none;
    padding-left: 5px;
    color: #cfd1ce;
    position: relative;
}
.menu li a::after {
	content: '';
	position: absolute;
	right: -20px;
	top: -1px;
	width: 1px;
	height: 100%;
	background: #fff;
}
.menu li:last-child a::after {
	display: none;
}
.logo {
    padding-top: 15px;
    padding-bottom: 14px;
}
.menu-icons {
  color: #fff;
}
/*.services {
    background: url("../img/Compliance_Clipboard.svg") no-repeat;
}*/
/*.reviews {
    background: url("../img/reviews-icon.svg")no-repeat;
}*/
/*
.bitkointalk {
    background: url("../img/black-bitcoin.svg") no-repeat;
}*/
/*.contacts {
    background: url("../img/phone.svg") no-repeat;
}*/
.container-services {
    width: 80%;
    margin: 0 auto;
}
.services-advancement__item {
    display: flex;
    align-items: center;
    margin-left: 140px;
    padding-top: 37px;
}
.bitcoin-item {
    margin-left: 52px;
}
.bitcoin-title {
    font-size: 30px;
    color: #fffa00;
    margin-bottom: 2px;
}
.bitcoin-title span {
    font-weight: bold;
}
.bitcoin-text {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
}
  .services-advancement__item:nth-child(1) {
    margin-left: 16%;
  }
  .services-advancement__item:nth-child(2) {
    margin-left: 19%;
  }
  .services-advancement__item:nth-child(3) {
    margin-left: 22%;
  }
  .services-advancement__item:nth-child(4) {
    margin-left: 25%;
  }
  .services-advancement__item:nth-child(5) {
    margin-left: 28%;
  }
.services-item {
    background: #cccccc61 url('../img/heatt.png') no-repeat center top / cover;
    height: 640px;
    margin-top: -86px;
    padding-top: 86px;
}
.services-paragraph {
    position: absolute;
    bottom: 22%;
    color: #363636;
    font-size: 28px;
    font-weight: bold;
}
.services-images {
    max-width: 260px;
}
.services-paragraph a {
    position: absolute;
    left: 0;
    top: 95px;
    margin-top: -75px;
    margin-left: 39px;
    text-decoration: none;
    color: #363636;
	border: 0;
}
.container-reviews {
    width: 1200px;
    margin: 0 auto;
}
.reviews-title {
    font-size: 50px;
    text-transform: uppercase;
    color: #6e6e6e;
    text-align: center;
    padding-top: 25px;
    font-weight: 300;
}
.reviews-title:before {
    content: '';
    display: inline-block;
    background: #6e6e6e;
    width: 286px;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #6e6e6e;
}
.reviews-title:after {
    content: '';
    display: inline-block;
    background: #6e6e6e;
    width: 286px;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid #6e6e6e;
}
.developer-bitcoin {
	max-width: 120px;
}
.developer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 991px;
    margin: 0 auto;
    margin-top: 18px;
}
.bifi {
    margin-left: 40px;
}
.bifi-title {
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.bifi-text {
    font-size: 16px;
    color: black;
    max-width: 1101px;
}
.partners {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.arrow {
   display: none;
}
.table {
    position: relative;
    overflow: hidden;
}
.table::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 0;
  border-color: transparent;
  border-left-width: 1150px;
  border-right-width: 1150px;
  border-style: solid;
  border-top: 70px solid #fff;
}
.table .about {
  position: absolute;
  left: 50%;
  top: 200px;
  background: #000;
  border: 1px solid #fff;
  border-radius: 10px;
  color: #fff;
  font-size: 24px;
  padding: 20px 50px;
  transform: translateX(-50%);
  text-decoration: none;
}
.table .plans {
  position: absolute;
  left: 50%;
  top: 320px;
  background: rgb(226, 226, 226);
  border: 1px solid #fff;
  border-radius: 10px;
  color: #000;
  font-size: 24px;
  padding: 20px 50px;
  transform: translateX(-50%);
  text-decoration: none;
}
.table a {
    transition: all .5s ease;
}
.table a:hover {
    box-shadow: 0px 20px 34px -22px rgba(0, 0, 0, 0.58);
}
.table-common {
    width: 100%;
    margin: 0 auto;
    display: flex;
    height: 2140px;
}
.table-one {
    background: #000;
    width: 50%;
    padding-top: 440px;
}

.table-two {
    background: #f9f9f9;
    width: 50%;
    padding-top: 440px;
}
.table-common .item {
    width: 524px;
    height: 155px;
    border: 1px solid #000000;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
}
.table-one .item {
    border: 1px solid #fffa00;
}
.circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    border: 2px solid #fffa00;
    margin: 0 auto;
    color: #fff;
    margin-bottom: 80px;
}
.table-two .circle {
  color: #000;
  border-color: #000;
}
.item i {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #fffa00;
  display: inline-block;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center center;
  z-index: 1;
}
.item i::before {
  content: '';
  position: absolute;
  width: 42px;
  height: 1px;
  background: #fffa00;
  top: -22px;
  left: 50%;
  display: inline-block;
  transform: translateX(-50%) rotate(90deg);
  z-index: -1;
}
.item i::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fffa00;
  display: block;
  left: 50%;
  transform: translateX(-50%);
  top: -45px;
}
.item i.icon-time::after {
  display: none;
}
.item i.icon-graph::after {
    display: none;
  }
.table-two i::after {
  background: #000;
}
.table-two .item i::before {
  background: #000;
}
.table-two .item i {
  border: 1px solid #000;
  background-color: #f9f9f9;
}
i.icon-time {
  background-image: url('../img/twentyfour.png');
}
.icon-project {
    background-image: url("../img/dolv.png");
}
.icon-moneygraf {
    background: url("../img/money-graph.png");
}
.icon-purse {
    background: url("../img/wallet.png");
}
.icon-demonstrate {
    background: url("../img/arm.png");
}
.icon-increase {
    background: url("../img/search.png");
}
i.icon-graph {
  background-image: url('../img/money-graphblsc.png');
  background-position: 11px center;
}
i.icon-communicate {
    background: url("../img/team.png") no-repeat;
    background-position: 11px center;
}
i.icon-dolar {
    background: url("../img/fa-money.png") no-repeat;
    background-position: 17px center;
}
i.icon-quality {
    background: url("../img/turnover.png") no-repeat;
    background-position: 15px center;
}
i.icon-cheepest {
    background: url("../img/walletkosh.png") no-repeat;
    background-position: 15px center;
}
i.icon-receive {
    background: url("../img/turnover.png") no-repeat;
    background-position: 15px center;
}
.purse-text {
    font-size: 19px;
    padding-left: 20px;
}
.item p {
    color: #fff;
    padding: 0 20px;
    padding-top: 70px;
    text-align: center;
    font-size: 19px;
}
.table-two .item p {
  color: #000;
}
.contacts-inf {
    background: url("../img/foot.png") no-repeat;
    background-size: cover;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 382px;
    position: relative;
}
.contacts-titl {
    color: white;
    text-transform: uppercase;
    margin-left: 100px;
    margin-top: 45px;
}
.social-icons {
    display: flex;
    margin-left: 100px;
    padding: 0;
}
.social-icons i {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.social-icons .icon-social {
    background: url('../img/fa-paper-plane.png');
}
.social-icons li {
    margin: 30px;
    margin-left: 0;
    margin-right: 100px;
    list-style-type: none;
    font-size: 24px;
}
.social-icons li a {
    color: #fff;
    text-decoration: none;
}
.phone {
    background: url('../img/iphonetelega.png') no-repeat;
    display: inline-block;
    width: 358px;
    height: 472px;
    position: absolute;
    right: 50px;
    bottom: 0px;
    z-index: 1;
}
footer {
    width: 100%;
    max-height: 86px;
    background: #000000;
    position: relative;
}

.header.footer-header {
    max-height: 130px;
}
.header.footer-header .logo {
    padding-top: 45px;
    padding-bottom: 30px;
}
.header.footer-header nav {
    max-height: 60px;
}
.header.footer-header nav li {
    padding-top: 15px;
}
.reviews-section {
	background: linear-gradient(#cccccc61, #fff);
}
